@import "tailwindcss";

body{
  /* background-color: #061c31; */
  background-color: white;
  overflow-x: hidden;
}

#root {
  width: 1126px;
  max-width: 100%;
  text-align: center;
  border-inline: 0px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #555f69;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555f69;
}


@page {
  size: A4 portrait;
  margin: 5mm;
}

@media print {
  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  #ficha-pdf {
    font-size: 75% !important;
    line-height: 1.1 !important;
  }

  table {
    width: 100% !important;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 2px 4px !important;
  }

  h1 {
    font-size: 16px !important;
  }

  h2 {
    font-size: 14px !important;
  }

  h3 {
    font-size: 12px !important;
  }
}
